.columns{
    justify-content: center;
    padding-left: 20px;
}
.box img{
    width: 375px;
    height: 200px;
    padding: 5px;
    margin: 5px;
    border-radius: 20px;
}
.box{
    height: auto;
    width: 400px;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    background-color: purple;
    align-items: center;
    text-align: justify;
}
.box h2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.box p{
    font-size: 1rem;
}

#about img{
    padding: 0px 20px;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

.name {
    padding: 5px;
}

.name h2{
    font-size: 1.7rem;
}

.name p{
    font-size: 1rem;
}
.ach {
    padding: 5px;
}

.ach h2{
    font-size: 1.7rem;
}

.ach p{
    font-size: 1rem;
}