#about img{
    padding: 0px 20px;
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

.name {
    padding: 5px;
}

.name h2{
    font-size: 1.7rem;
}

.name p{
    font-size: small;
}
.ach {
    padding: 5px;
}
.ach h2{
    font-size: 1.7rem;
}

.ach p{
    font-size: 1rem;
}

#home-projects .projects{
	padding-top: 50px ;
}