<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>Login page</title>
</head>
<body>
    <section class="side">
      <img src="static/image/ikd.jpg" alt="">
    </section>

    <section class="main">
        <div class="login-container">
            <p class="title">Welcome</p>
            <div class="separator"></div>
            <p class="welcome-message">Please, provide login credential to proceed</p>

            <form class="login-form" method="POST">
                <div class="form-control">
                    <input type="text" name="username"  placeholder="Enter Username" required>
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-control">
                    <input type="password" name="password" placeholder="Enter Password" required>
                    <i class="fas fa-lock"></i>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %} 
                    {% if messages %} 
                        {% for category, message in messages %} 
                            {% if category =='error' %}
                            <center>
                                <small style="color: red;">{{ message }}</small>
                            </center>
                            {% endif %}    
                        {% endfor %} 
                    {% endif %} 
                {% endwith %}
                
                <button class="submit">Login</button>
            </form>
        </div>
    </section>
</body>
</html>