{% extends "admin/admintable.html" %}

{% block title %}
    Create
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    <div align="center">
        <br>
        <h2>Write about the latest project</h2>
        <br><br>
        <div class="formm">
        <h4>Project Title</h4>
        <textarea name="title" id="title" class="form-control" placeholder="Project Title" maxlength="150" required></textarea>
        </div>
        <div class="formm">
            <h4>Sample Text</h4>
            <textarea name="stext" id="stext" class="form-control" placeholder="Project details" maxlength="250" required></textarea>
        </div>
        <div class="form">
        <h4>About project</h4>
        <textarea name="text" id="text" class="form-control" placeholder="Project details" required></textarea>
        </div>
        <br>
        <br>
        <br>
        <div style="padding-top: 5rem;">
            <div class="col-md-4">
                <h6>Image 1</h6>
                <input type="file" id="file" name="file" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 2</h6>
                <input type="file" id="file" name="file1" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 3</h6>
                <input type="file" id="file" name="file2" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 4</h6>
                <input type="file" id="file" name="file3" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 5</h6>
                <input type="file" id="file" name="file4" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 6</h6>
                <input type="file" id="file" name="file5" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 7</h6>
                <input type="file" id="file" name="file6" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 8</h6>
                <input type="file" id="file" name="file7" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 9</h6>
                <input type="file" id="file" name="file8" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 10</h6>
                <input type="file" id="file" name="file9" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 11</h6>
                <input type="file" id="file" name="file10" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 12</h6>
                <input type="file" id="file" name="file11" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 13</h6>
                <input type="file" id="file" name="file12" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 14</h6>
                <input type="file" id="file" name="file13" class="form-control" required>
            </div>
            <div class="col-md-4">
                <h6>Image 15</h6>
                <input type="file" id="file" name="file14" class="form-control" required>
            </div>

        <button type="submit" class="btn btn-dark" align="center">Post</button>
        </div>
    </div>
</form>
{{ ckeditor.load(pkg_type="basic") }}
{{ ckeditor.config(name='text') }}
<style>
    body{
        background-color: rgb(56, 99, 56);
    }
</style>

{% endblock %}
