{% extends "admin/admintable.html" %}

{% block title %}
    Text
{% endblock %}

{% block content %}
<br>
<table class="table table-sm table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Text</th>
            <th scope="col">Edit</th>


        </tr>
    </thead>
    <tbody>

        {% for post in posts %}
        <tr>
            <td>-</td>
            <td>{{post.text}}</td>
 
            <td>
               <a href="{{url_for('updatetext', id=post.id)}}" class="btn btn-sm btn-outline-light">Edit</a>
            </td>
            {% endfor %}

        </tr>
        
    </tbody>
</table>
{% endblock %}