{% extends "base.html" %}
{% block title %}
Administrative Officers
{% endblock %}
{% block content %}
<section id="dig">
    <br>
    <h1 class="heading">ADMINISTRATIVE OFFICERS</h1>
    <div class="gallery">
        <article>
            <img src="static/image/adm12.jpg" alt="">
            <h6 align="center">ENGR. M.A. ODUPITAN</h6>
            <P>Council Manager</P>
        </article>
        <article>
            <img src="static/image/adm13.jpg" alt="">
            <h6 align="center">MR. ALLI-BALOGUN ADEMOLA</h6>
            <P>Council Treasurer</P>
        </article>
        <article>
            <img src="static/image/ad.jpg" alt="">
            <h6 align="center">BLANK NAME</h6>
            <P>Human Resource Officer</P>
        </article>
        <article>
            <img src="static/image/adm9.jpg" alt="">
            <h6 align="center">MRS. ADERONKE O. DADA</h6>
            <P>H.O.D. Budget & Planning</P>
        </article>
        <article>
            <img src="static/image/adm16.jpg" alt="">
            <h6 align="center">MR. OSHODI HAKEEM AYODELE</h6>
            <P>H.O.D. Education</P>
        </article>
        <article>
            <img src="static/image/adm5.jpg" alt="">
            <h6 align="center">MRS. SHITTA KHADIJAT OLUWATOYIN</h6>
            <P>H.O.D. Agric & Social Services</P>
        </article>
        <article>
            <img src="static/image/adm4.jpg" alt="">
            <h6 align="center">MR. ADEYANJU TAOFEEK</h6>
            <P>Internal Auditor</P>
        </article>
        <article>
            <img src="static/image/adm2.jpg" alt="">
            <h6 align="center">MRS. KUNLE-OJO ADEPEJU OLUWAKEMI</h6>
            <P>H.O.D. Works & Infrastructure</P>
        </article>
        <article>
            <img src="static/image/adm14.jpg" alt="">
            <h6 align="center">SAN C.O OLORUNSOLA</h6>
            <P>H.O.D. Environmental Services</P>
        </article>
        <article>
            <img src="static/image/adm3.jpg" alt="">
            <h6 align="center">MRS. LAWAL N. OLAIDE</h6>
            <P>Public Affairs Officer</P>
        </article>
        <article>
            <img src="static/image/adm8.jpg" alt="">
            <h6 align="center">MR. GASALI IDRIS OLADIMEJI</h6>
            <P>Clerk Of The House</P>
        </article>
        <article>
            <img src="static/image/admm.jpg" alt="">
            <h6>BLANK NAME</h6>
            <P>Medical Officer Of Health</P>
        </article>
        <article>
            <img src="static/image/adm1.jpg" alt="">
            <h6 align="center">MRS EKANEM OYEDEJI OYEYEMI</h6>
            <P>Second Signatory</P>
        </article>
        
        <article>
            <img src="static/image/jud3.jpg" alt="">
            <h6 align="center">MRS OLABISI ABIGAEL OMONIYI</h6>
            <P>Area Officer B</P>
        </article>
        <article>
            <img src="static/image/adm7.jpg" alt="">
            <h6 align="center">OJIKUTU AHMED ABIODUN</h6>
            <P>Area Officer A</P>
        </article>
        <article>
            <img src="static/image/adm10.jpg" alt="">
            <h6 align="center">SHOTOBI ADEYEMI O.</h6>
            <P>Area Officer Agura</P>
        </article>
    </div>
    <br>
    <br>
</section>
{% endblock %}