{% extends "base.html" %}
{% block title %}
Administrative Officers
{% endblock %}
{% block content %}
<section id="dig">
    <br>
    <h1 class="heading">ADMINISTRATIVE OFFICERS</h1>
    <div class="gallery">
        <article>
            <img src="static/image/adm12.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm13.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm1.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm11.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm9.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm8.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm5.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm4.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm16.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm7.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm6.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm14.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm10.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm2.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
        <article>
            <img src="static/image/adm3.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Administrative Officer</P>
        </article>
    </div>
    <br>
    <br>
</section>
{% endblock %}