{% extends "base.html" %}
{% block title %}
Contact Us
{% endblock %}
{% block content %}
<div class="contact-wrap">
	<div class="contact-in">
		<h1>Contact Info</h1>
		<!--h2><i class="fa fa-phone" aria-hidden="true"></i> Phone</h2>
		<p>+2348123456789</p-->
		<h2><i class="fa fa-envelope" aria-hidden="true"></i> Email</h2>
		<p>ikorodu@gmail.com</p>
		<h2><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h2>
		<p>Oba Sekunmade road, Ikorodu 104101, Ikorodu Nigeria. Opposition General Hospital.</p>
	</div>
	<div class="contact-in">
		<h1>Get In Touch.</h1>
		<p>The Ikorodu Local Government is visitors friendly and<br> opens her doors to guests <br>During the week days, Weekends excluded. Within the hours of: <br>9:00am - 6:00pm 
		</p>
		
	</div>
	<div class="contact-in">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.3081750144443!2d3.49540581477115!3d6.608575995220971!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bedd4d43ee363%3A0x9136c8530100bba5!2sIkorodu%20Local%20Government%20Secretariat!5e0!3m2!1sen!2sng!4v1637217608154!5m2!1sen!2sng" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
	</div>
</div>
{% endblock %}