{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}        
<section id="dig">
  <br>
  <h1 class="heading">EXECUTIVES</h1>
  <div class="gallery">
      <article>
        <div class="exe">
          <img src="static/image/aee.jpg" alt="" style="height: 700px; width: 420px;">
          <h4>HON. WASIU ADESINA</h4>
          <p>Executive Chairman</p>
        </div>
          
      </article>
      <article>
        <div class="exe1">
          <br>
          <br>
          <br>
          <br>
          <img src="static/image/aex.jpg" alt="" style="height: 400px; width: 300px;">
          <h4>Princess Folashade Olabanji-Oba</h4>
          <p>Vice Chairman</p>
        </div>
          
      </article>
     </div>
</section>
{% endblock %}