{% extends "base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<!--main>
    <article id="executive-chairman">
        <div id="executive">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div align="center" class="carousel-inner">
                <div class="carousel-item active">
                  <img src="static/aee.jpg" class="d-block" style="height: auto; width: 400px; border-radius: 20px;" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="static/aex.jpg" class="d-block" style="height: auto; width: 400px; border-radius: 20px;" alt="...">
                </div>
                
              </div>
            </div>
        </div>
        
        <h2 align="center" style="color: purple;">EXECUTIVE CHAIRMAN</h2>
        
    </article>
</main-->
<section id="dig">
  <br>
  <h1 class="heading">EXECUTIVES</h1>
  <div class="gallery">
      <article>
        <div class="exe">
          <img src="static/image/aee.jpg" alt="" style="height: 700px; width: 420px;">
          <h4>HON. WASIU ADESINA</h4>
          <p>Executive Chairman</p>
        </div>
          
      </article>
      <article>
        <div class="exe1">
          <br>
          <br>
          <br>
          <br>
          <img src="static/image/aex.jpg" alt="" style="height: 400px; width: 300px;">
          <h4>Princess Folashade Olabanji</h4>
          <p>Vice Chairman</p>
        </div>
          
      </article>
     </div>
</section>
{% endblock %}