{% extends "base.html" %}
{% block title %}
Political Leaders
{% endblock %}
{% block content %}
<p style="background-color: green; color: white; font-family:Arial, Helvetica, sans-serif;">
    <br> <br>

    - AFRICAN Bethel Church School was opened in 1916.
    <br> <br>
    - AWODEINDE (Awo Lajiga) was installed the Olisa of Ikorodu in June 1917 and died 20th November 1937.
    <br> <br>
     
    - AWODEINDE B.L. the first Olori Ijo Methodist Church, Ikorodu, died in 1948.
    <br> <br>
     
    - AEROPLANE flew over Ikorodu for the first time in 1931.
    <br> <br>
     
    - AJASA Ominu was installed Apena of Ikorodu in 1933.
    <br> <br>
     
    - ALAGBE Adenaike (Oba), Adegorushen IV, born in Ikorodu in 1854 to the Lasunwon Ruling House, was installed Oloja of Ikorodu on Monday June 3, 1929 at the age of 75, was crowned on Monday April 10, 1950 became the first Oba with the title of Ayangbure of Ikorodu. He died on Wednesday November 14, 1951 at the age of 97.
    <br> <br>
     
    - ALOKOLARO Femi was elected to the Western House of Assembly in 1965.
    <br> <br>
     
    - ALAGBE Gbadamosi Dosunmu (Prince) former Head of Lasunwon Ruling House, Ikorodu died in Ikorodu in January 1989 at the age 82.
    <br> <br>
     
    - AWOTEDU Otayomi (Chief), the Apena of Ikorodu was installed on July 25, 1963, died in Ikorodu on May 15, 1987 at the age 100.
    <br> <br>
     
    - AJAGBEMOKEFERI Mustapha Osoala (Alhaji), an ardent pagan, turned renowned Islamic faithful, great promoter of Islam in Ikorodu, direct descendant of Ogborin Shekuoye, died in Ikorodu on February 2, 1987 at presumed age of 135.
    <br> <br>
     
    - ALISON Rabiu Ayinla (Alhaji) OON, a prominent business tycoon, philanthropist, and past chairman of Ikorodu Local Government Council, born in Ikorodu on April 27 1913, died on October 21, 1982.
    <br> <br>
     
    - AKANDE Inumidun Enitan (Hon, Justice), born in Ikorodu on June 10, 1947, became the first Head of Ikorodu female indigene to be appointed a Judge of the High Court of Lagos in August 1989.
    <br> <br>
     
    - AWOJOBI Ayodele (Professor), a renowned educationist and Mechanical Engineer and first Head of Department of Engineering, University of Lagos (where he lectured for 18 years) was born in 1937 to Pa Daniel Awojobi, a native of Ikorodu.
    <br> <br>
     
    - Professor Awojobi was awarded Doctor of Science degree by Imperial College in U.K. in 1974 at the age of 37. He died in September 1984 at the age of 47.
    <br> <br>
     
    - ADENIJI Babatunde Adebayo (Justice) was born in Ikorodu in 1937. He was appointed a judge in 1984.
    <br> <br>
     
    - ADEYINKA Fatai Afolabi (Justice) WAS BORN IN Ikrodu on 2nd July 1939. He was appointed judge of the High Court of Justice, Lagos in 1984.
    <br> <br>
     
    - ADEGBOLA Anthony Afolabi (Professor) was born in Ibadan on 7th November 1934. Bagged his PHD in 1965. Became a professor in 1968.
    <br> <br>
     
    - ABIRU Mudashiru Akanbi (Hon Justice) who became a judge of the LAGOS high Court in 1983 was the first Ikorodu son to be elected into the Federal Senate in August 1079. As Senator, he spearheaded the reduction of the Oriya Hill (Ikorodu) gradient. He was born in Ikorodu on September 23, 1932.
    <br> <br>
     
    - ADEDIPE Nurudeen Olorunnimbe (Professor), born in Ikorodu on December 20, 1940, became the first Ikorodu son to become a university vice chancellor, University of Agriculture, Abeokuta.
    <br> <br>
     
    - ALOGBA Muse Oladega (Chief) Chairman Construction One Nigeria Limited and Baba Adinni of Ikorodu was the Chief Launcher at the official commissioning of ultra-modern Ikorodu Town Hall that took place on Sunday December 18, 1994.
    <br> <br>
     
    - BENSON Theophilus Owolabi SAN (Otunba), born in 1917 in Ikorodu and first Ikorodu lawyer (1947) was elected member Western House of Assembly in 1951, elected to the Federal House of Representatives in 1954. He became the first Ikorodu Federal Government Minister of Information in 1960.
    <br> <br>
     
    - BENSON Babatunde Olusola SAN (Chief), born in Ikrodu on July 4, 1932, a legal luminary became the second Ikorodu son to become president of the Nigeria Bar Association (1978-1980) and second to be Senior Advocate of Nigeria in 1983, and first chairman of Ikorodu Oga Day organising Committee.
    <br> <br>
     
    - BASHORUN Reuben Olorunfunmi became the first indigene of Ikorodu Division to become Secretary to the Lagos State Government (1979-1983).
    <br> <br>
     
    - BANWO Emmanuel Ibikunle Adesanya (Chief) was the first Ikorodu indigene to become the Principal of Oriwu College Ikorodu, March 1957.
    <br> <br>
     
    - BAMIMOSU Tanimowo Rufai, businessman, frontline politician and community leader was installed Odofin of Ipakodo in 1981 and died October 27, 1984. <br> <br>

    - CESSION of Ikorodu to British Government by the Akarigbo of Ijebu-Remo in 1892. Signatories to the cession document were the then Akarigbo, the then Olisa of Ikorodu (Olomu), the Mosene of Ikorodu, (Chief Aina Odukanmade), the then Balogun of Ikorodu (Chief Akin Jaiyesimi) and Sir G.T.Carter, Governor of LAGOS colony.
 
    <br> <br>

    - DAWODU Owen Sanya died in 1930.
 
    <br> <br>

    - DOSUNMU B.M. was installed Fusigbuwa of Ikorodu in 1942.
 
    <br> <br>

    - EGBA – Ikorodu war broke out in 1864, with Ikorodu emerging victorious.
 
    <br> <br>

    - EGBEWUNMI Amodu Rufia was installed in Olori Ebi Sekunmade, Ipakodo in 1929: The title was change to Baale in 1939 by the then District Officer. He died in 1942.
 
    <br> <br>

    - ELECTRICITY was commissioned in Ikorodu in 1958.
 
    <br> <br>

    - THE EXCLUSIVES Ikorodu inaugurated in 1965 with Dr. Bolaji Sanni Ajenifuja as first chairman.
 
    <br> <br>

    - ETI-OSA Local Council was separated from Ikorodu District Council in 1972.
 
    <br> <br>

    - ERUJA Saka Adeniyi Olatunji, the great traditional singer, entertainer and social reformer, born in Ikorodu in 1899 and died on Sunday August 2, 1953 at the age of 54.
 
    <br> <br>

    - GLOVER J.H.Governor of Lagos reconciled Ikorodu with then Awujale of Ijebuland, Oba Ademuyewo Fidipote in 1865.
 
    <br> <br>

    - GOLLMER C.A, headed a church Missionary Society delegation to Ikorodu in 1851.
 
    <br> <br>

    - GBADAMOSI Sule Oyesola (Chief), born on Decenber 23, 1910, business tycoon and politician was elected Ikorodu member of the Western House of Assembly in 1951, he was re-elected in 1956, he passed away at his alternative residence in Ode-Remo on February 5 1993.
 
    <br> <br>

    - GBADAMOSI Rasheed (Chief), playwright/economist was appointed Lagos State Commissioner for Establishment and Economic Development in 1973.
 
    <br> <br>

    - GOWON YAKUBU (Rtd. General), Head of State visited Ikorodu in April 1973.
 
    <br> <br>

    - HAMZAT Moshood Adio was elected honourable member of the Federal House of Representatives (1979-1983) representing Ikorodu Division.
 
    <br> <br>

    - IKORODU Central Mosque, situated at Itun-Nla Street had its foundation laid on January 12, 1933. The ceremony was performed by Lemomu Buraimoh of Ikorodu.
 
    <br> <br>

    - IKORODU Rest House was built on Beach Road in 1937.
 
    <br> <br>

    - IKORODU became a separate Division from Ikeja in 1968.
 
    <br> <br>

    - IKORODU Post Office was opened in February 23, 1953. Chief
 
    <br> <br>

    - Arthur Prest, Minister of Communication through Radio Communication from Lagos, performed the ceremony. Minister of Communication through Radio Communication from Lagos.
 
    <br> <br>

    - IKORODU was emerged with Western Nigeria by the McPherson Constitution of 1954.
 
    <br> <br>

    - IKORODU Maternity Centre was opened in December 1950.
 
    <br> <br>

    - The ceremony was presided by Major J.C. Allen, the then British Deputy Commissioner for the Colony.
 
    <br> <br>

    - IKORODU Water Works located at Oya-Ona was commissioned on July 21, 1983 by the then Governor of Lagos State, Alhaji Lateef Kayode Jakande.
 
    <br> <br>

    - IKORODU General Hospital on Beach was commissioned on July 21, 1983.
 
    <br> <br>

    - IKORODU Provident News (now Ikorodu News), the first newspaper published in Ikorodu Division and the first community newspaper in Nigeria was launched at the Exclusive Club House, Ikorodu in August 1983 with Mr. Ganny Awobajo as editor.
 
    <br> <br>

    - IKORODU Oga Day Celebration was first held on November 20 and 21, 1992.
 
    <br> <br>

    - IKORODU Star was established in Ikorodu in 1993 with Alhaji Musiliu Lawal-Animashaun as publisher.
 
    <br> <br>

    - IKORODU High Court, Olubi Street, Ikorodu was commissioned on April 20, 1993. The then Governor of Lagos State, Sir Michael Agbolade Otedola performed the ceremony.
 
    <br> <br>

    - IKORODU Town Hall an ultra modern edifice was completed in 1992 and formally opened on Sunday December 18, 1994. The late Arc. Micheal Olutasen Onafowokan designed the building.
 
    <br> <br>

    - IKORODU Community Bank began operations on June 6, 1993.
 
    <br> <br>

    - ITA-ELEWA Recreation Park, built by the Rotary Club of Ikorodu was commissioned on February 5, 1991 by the then chairman of Ikorodu Local Government, Mr. Mathew Ayodele Awolesi.
 
    <br> <br>

    - IMMIGRATION Office was re-established in Ikorodu in 1987.
 
    <br> <br>

    - IDOWU Bolaji (Professor), a renowned clergyman, author and first indigene of Ikorodu to head the Methodist Church of Nigeria (1972-1982) was born on September 28, 1913.
    JIMBO Hassan Olughenga Omobowale Lasisi (Oba) was presented his staff of Office as Sekunmade of Ipakodo on October 18, 1981.
 
    <br> <br>

    - KAMSON. S.O. (Chief), a renowned business tycoon and philanthropist died in 1977 at the age of 67.
 
    <br> <br>

    - LONGE, Eniola Folorunsho (Justice) was born in Ikorodu on 20th April 1937. He was appointed judge of the High Court of Lagos in 1983.
 
    <br> <br>

    - LAGOS-Ikorodu Road was opened in 1953.
 
    <br> <br>

    - LAGOS-Ikorodu Road dualisation contract was signed in Lagos on November 26, 1987. Dr. Olusegun Onafowokan, the Lagos State Commissioner for works and Transport signed for Lagos State Government.
 
    <br> <br>

    - MABUNMI Lawani was installed Apena of Ikorodu in 19944.
 
    <br> <br>

    - MUSLIM School, Isele, Ikorodu was opened in 1947.
 
    <br> <br>

    - MAJIDUN Bridge was completed in 1951
 
    <br> <br>

    - MUDASHIRU Gbolahan (Rtd Air Conmdr) became the first Ikorodu indigene to become Governor of Lagos State.
 
    <br> <br>

    - NATIVE Authority was established in Ikorodu in 1938.
 
    <br> <br>

    - NATIONAL Bank of Nigeria opened branch in Ikorodu in 1972.
 
    <br> <br>

    - NIGERIAN Port Authority built a lighter Terminal in Ipakodo, Ikorodu in 1974.
 
    <br> <br>

    - ODUKANMADE Aina (Chief), the first Mosene of Ikorodu died in 1896.
 
    <br> <br>

    - ODUKAN Bakare, a renowned Muslim was installed Chief Imam of Ikorodu Central mosque in 1907 and died in 1923.
 
    <br> <br>

    - OLUDA Sadiku Agbaku (Chief), a businessman but more popularly known as Magbo singer, drummer and social critic died in Ikorodu in 1936.
 
    <br> <br>

    - OWUJEBE Ajayi (Oba), Oloja of Ikorodu was installed in 1896 and died on October 9, 1928.
 
    <br> <br>

    - OLD Afin (Palace) at Ajina, Ikorodu was rebuilt in 1932.
 
    <br> <br>

    - OWODE Market (Ikorodu) was opened in 1936.
 
    <br> <br>

    - OGUNTADE Suberu was installed Odofin of Ikorodu in 1937 and died in 1951.
 
    <br> <br>

    - OSHUNTOWE (Madam) was installed Iyalode of Ikorodu in 1941.
 
    <br> <br>

    - ORIWU College, the first secondary school was opened in Ikorodu in 1949.
 
    <br> <br>

    - ODULATE Jacob alias (Alabukun) was installed Odogunloye of Ikorodu in 1959.
 
    <br> <br>

    - OGUNSANYA Adeniran SAN (Otunba) became Federal Minister of Housing and Survey 1965, was elected to the Federal House of Representatives in 1954, and became Attorney General of Lagos State in 1968.
 
    <br> <br>

    - ODESANYA Michael Adeyinka (Hon. Justice) became the first Ikorodu indigene to be appointed judge of Lagos High Court in 1967.
 
    <br> <br>

    - OYEFUSI Salaudeen Afolabi Adekoya (Oba), born on July 8, 1931, was installed Ayangburen of Ikorodu in September 1971.
 
    <br> <br>

    - ORIWU Club Ikorodu was inaugurated in 1972 with Mr. Shomi Jaiyesimi as first president.
 
    <br> <br>

    - OSHIKABALA Bombata (Chief), the controversial cultural singer died in 1979 at the age of 70. He started singing in 1934.
 
    <br> <br>

    - OSHISANYA Suberu Sule Obasanya (Chief) alias ESSOFES, the Are of Ikorodu and Chairman of Central Mosque Management Committee, died on October 6, 1981 at the age of 71.
 
    <br> <br>

    - OGA Statue, (the royal prince from Shagamu) believe to be the founder of Ikorodu in mid 17th Century, was unveiled on February 2, 1991.
 
    <br> <br>

    - OLUKOGA Adekoya, Otunba Fuwagbade of Odonla, Ikorodu and prominent community leader in Ikorodu Division died on April 4, 1990 at the age of 77.
 
    <br> <br>

    - OGUNLEYE Kayode (Chief) was installed Odofin of Ikorodu on January 19, 1993.
 
    <br> <br>

    - ORIWU SUN, Ikorodu’s second newspaper was established in April 1985 with Chief Monzor Olowosago as publisher and editor.
 
    <br> <br>

    - OTEJU Afolabi (Chief) was installed Odofin of Ikorodu on January 19, 1993.
 
    <br> <br>

    - OGUNSANYA Adebayo SAN (Chief), a renowned legal practitioner passed away on May 7, 1993 at the age of 71.
 
    <br> <br>

    - ONAFOWOKAN Michael Olutusen, a prominent indigene of Ikorodu and Nigeria’s first Architect was born on December 1, 1912 in Ikorodu.
 
    <br> <br>

    - OSINOWO Oladosu (Chief) became the first Ikorodu indigene to be elected Speaker of the Lagos State House of Assembly. (1979 – 1983)
 
    <br> <br>

    - OGBARA Lamidi Abudu, a renowned Muslim business tycoon, community leader, philanthropist and first treasurer of Ikorodu Town Hall project, was born in Ikorodu in 1917.
 
    <br> <br>

    - Ragolis waters Limited opened its pure natural water factory on Lagos Road, Ikorodu on February 25, 1984.
 
    <br> <br>

    - ROTARY Club of Ikorodu was inaugurated in October 1983. It received its charter from Rotary international in February 1984 with Rotarian Layi Adegbola as charter president.

    <br> <br>

    - SALVATION Army School, Ikorodu opened in 1936.
 
    <br> <br>

    - SHOBOWALE S.B. was installed Olisa of Ikorodu in 1948.
 
    <br> <br>

    - SHOGBAMU Yakubu (Chief), born in Ikorodu on January 22, 1922 was installed Mosene of Ikorodu on November 10, 1979. He died on May 19, 1999.
 
    <br> <br>

    - SHOKUNBI Rashaki (Chief) was installed the head of Rademo House on April 3, 1983.
 
    <br> <br>

    - SOLANKE Folake SAN became the first female State commissioner in 1972, first female chairman of Western Nigeria Broadcasting Corporation; and first female Senior Advocate of Nigeria on 1981.
 
    <br> <br>

    - SANNI, Sikitru Adebayo (Professor) was born in Ikorodu on February 1938. He first Department of Charter Engineering in Nigeria between 1968 and 1970 at M.I.T. He was promoted Professor in 1977.
 
    <br> <br>

    - TAX Office, Ikorodu converted to Ikorodu Law Court in 1937.
 
    <br> <br>

    - TRANSMITTING Station of the Voice of Nigeria was installed in Ipakodo Ikorodu in 1962.
 
    <br> <br>

    - VICTORIA Efun was installed Iyalode of Ikorodu in 1919 and died 1945.
 
    <br> <br>

    - WAHAB Kunle (Professor) became the foundation Dean of Department of Estate Management, Obafemi Awolowo University Ile-Ife in 1982. He was appointed chairman committee of Dean 1987.
 
    <br> <br>

    - WILLOUGHBY W. was the first Post Master in Ikorodu.
 
    <br> <br>

    - WOMEN Training Centre at 46, Oriwu Road, Ikorodu was opened on  May 25, 1985. <br>
</p>
{% endblock %}