{% extends "base.html" %}
{% block title %}
Judiciary
{% endblock %}
{% block content %}
<section id="dig">
    <br>
    <h1 class="heading">JUDICIARY</h1>
    <div class="gallery">
        <article>
            <img src="static/image/jud5.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/image/jud4.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/image/jud3.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/image/jud7.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/image/jud6.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/image/jud2.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/image/jud1.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
    </div>
    <br>
    <br>
</section>
{% endblock %}