{% extends "base.html" %}
{% block title %}
Legislative
{% endblock %}
{% block content %}
<section id="dig">
    <br>
    <h1 class="heading">MEET OUR LEGISLATORS</h1>
    <div class="gallery">
        <article>
            <img src="static/image/leg5.jpg" alt="">
            <h4>HON. AJAYI ADEBOWALE</h4>
            <p>Leader of the House</p>
            <P>Councillor Ward E</P>
        </article>
        <article>
            <img src="static/image/leg7.jpg" alt="">
            <h4>HON. IDRIS SHOKUNBI</h4>
            <p>Deputy Leader</p>
            <h6>Councillor Ward B</h6>
        </article>
        <article>
            <img src="static/image/leg6.jpg" alt="">
            <h4>HON. WASIU B. SHOTOMIWA</h4>
            <p>Majority Leader</p>
            <p>Councillor Ward D</p>
        </article>
        <article>
            <img src="static/image/leg1.jpg" alt="">
            <h4>HON. IDRIS SHOKUNBI</h4>
            <p>Chief Whip</p>
            <P>Councillor Ward A</P>
        </article>
        <article>
            <img src="static/image/leg4.jpg" alt="">
            <h4>HON. DIMEJI OSIKOYA</h4>
            <P>Councillor Ward G</P>
        </article>
        <article>
            <img src="static/image/leg3.jpg" alt="">
            <h4>HON. BURAIMOH OLUWAKEMI</h4>
            <P>Councillor Ward F</P>
        </article>
        <article>
            <img src="static/image/leg2.jpg" alt="">
            <h4>HON. OMOTAYO AWOLESI</h4>
            <P>Councillor Ward C</P>
        </article>
    </div>
    <br>
    <br>
</section>
{% endblock %}