{% extends "base.html" %}
{% block title %}
Nulge
{% endblock %}
{% block content %}
<section id="dig">
    <br>
    <h1 class="heading">NULGE</h1>
    <div class="gallery">
        <article>
            <img src="static/image/nul1.jpeg" alt="">
            <h6 align="center">BLANK NAME</h6>
            <p>Nulge Chairman</p>
        </article>
        <article>
            <img src="static/image/nul2.jpeg" alt="">
            <h6 align="center">BLANK NAME</h6>
            <p>Vice Chairman</p>
        </article>
        <article>
            <img src="static/image/nul3.jpeg" alt="">
            <h6 align="center">BLANK NAME</h6>
            <p>Secretary</p>
        </article>
        <article>
            <img src="static/image/nul4.jpeg" alt="">
            <h6>BLANK NAME</h6>
            <p>Nulge</p>
        </article>
        <article>
            <img src="static/image/nul5.jpeg" alt="">
            <h6 align="center">BLANK NAME</h6>
            <p>Nulge</p>
        </article>
        <article>
            <img src="static/image/nul6.jpeg" alt="">
            <h6 align="center">BLANK NAME</h6>
            <p>Nulge</p>
        </article>
        <article>
            <img src="static/image/nul7.jpeg" alt="">
            <h6 align="center">BLANK NAME</h6>
            <p>Nulge</p>
        </article>
    </div>
    <br>
    <br>
</section>
{% endblock %}