{% extends "base.html" %}
{% block title %}
Nulge
{% endblock %}
{% block content %}
<section id="dig">
    <br>
    <h1 class="heading">NULGE</h1>
    <div class="gallery">
        <article>
            <img src="static/image/nul1.jpeg" alt="">
            <h6 align="center">COM. SENATOR ADENIKE E. MABODU</h6>
            <p>Nulge Chairman</p>
        </article>
        <article>
            <img src="static/image/nul2.jpeg" alt="">
            <h6 align="center">COM. OLAGUNJU OLUWASEYI LATEEF</h6>
            <p>Vice Chairman</p>
        </article>
        <article>
            <img src="static/image/nul3.jpeg" alt="">
            <h6 align="center">COM. ADEBAMBO ORIYOMI KAZEEM</h6>
            <p>General Secretary</p>
        </article>
        <article>
            <img src="static/image/nul4.jpeg" alt="">
            <h6 align="center">COM. ADEBAMBO RAHEEM ADEKUNLE</h6>
            <p>Governor</p>
        </article>
        <article>
            <img src="static/image/nul5.jpeg" alt="">
            <h6 align="center">COM. ADELABU TITILAYO ADIODUN</h6>
            <p>Personnel Rep</p>
        </article>
        <article>
            <img src="static/image/nul6.jpeg" alt="">
            <h6 align="center">COM. OLALEYE OLUFEMI S.</h6>
            <p>Asst. Secretary</p>
        </article>
        <article>
            <img src="static/image/nul7.jpeg" alt="">
            <h6 align="center">COM. OSHIPITAN BENGJAMEN AINA</h6>
            <p>Finance Rep</p>
        </article>
    </div>
    <br>
    <br>
</section>
{% endblock %}