{% extends "base.html" %}
{% block title %}
Past Leaders
{% endblock %}
{% block content %}
<h3 align="center" style="text-transform: uppercase;"><u>Names of Past Executive Chairmen of Ikorodu Local Government till date</u></h3>

<table class="table table-sm table-condensed table-bordered table-hover table-active table-dark">
    <tr>
      <th>S/N</th>
      <th>NAMES</th>
      <th>DATES</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Chief H.O Onafowokan</td>
        <td>1972-1975</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Mrs S. Sanni</td>
        <td>1975-1976</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mr R.B Solawon</td>
        <td>1976-1979</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Mr Mufutau Ajisebutu</td>
        <td>1980-1982</td>
    </tr>
    <tr>
        <td>5</td>
        <td>MrWukahJaiyesinmi</td>
        <td>1982-1983</td>
    </tr>
    <tr>
        <td>6</td>
        <td>Mr Jacob A. Omolade</td>
        <td>1984-1988</td>
    </tr>
    <tr>
        <td>7</td>
        <td>Mr M. Ayodele Awolesi</td>
        <td>1988-1989</td>
    </tr>
    <tr>
        <td>8</td>
        <td>Mr Muri Abayomi Twins </td>
        <td>1989-1990</td>
    </tr>
    <tr>
        <td>9</td>
        <td>Mr M. Ayodele Awolesi</td>
        <td>1990-1993</td>
    </tr>
    <tr>
        <td>10</td>
        <td>Otunba S. Oladeinde</td>
        <td>1993-1996</td>
    </tr>
    <tr>
        <td>11</td>
        <td>Alhaji A. A. Adewunmi</td>
        <td>1996- 1997</td>
    </tr>
    <tr>
        <td>12</td>
        <td>Mrs O.O. T Benson</td>
        <td>Jan 1997- April 1997</td>
    </tr>
    <tr>
        <td>13</td>
        <td>Chief W.A.M Gbadamosi</td>
        <td>1997-1998</td>
    </tr>
    <tr>
        <td>14</td>
        <td>Mrs G.O Mabawonku</td>
        <td>1998-1999</td>
    </tr>
    <tr>
        <td>15</td>
        <td>Engr Otunba Dele Kuti</td>
        <td>1999- 2003</td>
    </tr>
    <tr>
        <td>16</td>
        <td>Alhaji Waheed Junaid Oowokodu</td>
        <td>2003-2007</td>
    </tr>
    <tr>
        <td>17</td>
        <td>Alhaji Waheed Junaid Oowokodu</td>
        <td>2007- 2008</td>
    </tr>
    <tr>
        <td>18</td>
        <td>Alhaji Ganiu Olusegun Abiru</td>
        <td>Aug 2008-Oct 2008</td>
    </tr>
    <tr>
        <td>19</td>
        <td>Alhaji Sheriff AdisaAnipole</td>
        <td>2008-2011</td>
    </tr>
    <tr>
        <td>20</td>
        <td>Alhaji Sheriff AdisaAnipole</td>
        <td>2011-2014</td>
    </tr>
    <tr>
        <td>21</td>
        <td>Hon. Wasiu Adesina</td>
        <td>Jan 2015 till date</td>
    </tr>
  </table>
{% endblock %}