{% extends "postbase.html" %}
{% block title %}
{{post.title}}
{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
<main>
    <article id="popular-news">
        <div id="events"> 
            <h2 align="center" style="text-transform: uppercase;">{{post.title}}</h2>
            <i class="far fa-calendar-alt">  {{post.date_created.strftime('%B %d, %Y')}}</i>

            
            <br>
            <div>
              <img src="{{ url_for('static', filename='uploads/' + post.file) }}" alt="..." class="img-thumbnail">
            </div>
            <div style="background-color: green; color: white;">
              {{ post.text|safe }}
            </div>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file2) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file3) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file4) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file5) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file6) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file7) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file8) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>
              <img src="{{ url_for('static', filename='uploads/' + post.file9) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>
              <img src="{{ url_for('static', filename='uploads/' + post.file10) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>
              <img src="{{ url_for('static', filename='uploads/' + post.file11) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>
              <img src="{{ url_for('static', filename='uploads/' + post.file12) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>
              <img src="{{ url_for('static', filename='uploads/' + post.file13) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>
              <img src="{{ url_for('static', filename='uploads/' + post.file14) }}" alt="..." class="img-thumbnail">
            </div>
            
        </div>
    </article>
</main>
</form>
{% endblock %}