{% extends "postbase.html" %}
{% block title %}
{{post.title}}
{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
<main>
    <article id="popular-news">
        <div id="events"> 
            <h2 align="center">{{post.title}}</h2>
            <i class="far fa-calendar-alt">  {{post.date_created.strftime('%B %d, %Y')}}</i>

            
            <br>
            <div>
              <img src="{{ url_for('static', filename='uploads/' + post.file) }}" alt="..." class="img-thumbnail">
            </div>
            <div>
              <p style="background-color: green; color: white;">{{post.text}}</p>
            </div>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file2) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file3) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file4) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file5) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file6) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file7) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <div>                  
                <img src="{{ url_for('static', filename='uploads/' + post.file8) }}" alt="..." class="img-thumbnail">
            </div>
            <br>
            <!--div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="{{ url_for('static', filename='uploads/' + post.file) }}" class="d-block w-100"  alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='uploads/' + post.file1) }}" class="d-block w-100"  alt="...">
                </div>
                <div class="carousel-item">
                  <img src="{{ url_for('static', filename='uploads/' + post.file2) }}" class="d-block w-100"  alt="...">
                </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div-->
        </div>
    </article>
</main>
<!--style>
  body{
    background-color: chartreuse;
  }
</style-->
</form>
{% endblock %}