{% extends "base.html" %}
{% block title %}
Sons Of Ikorodu
{% endblock %}
{% block content %}
<section id="dig">
    <br>
    <h1 class="heading">NOTABLE SONS OF IKORODU</h1>
    <div class="gallery">
        <article>
            <img src="static/jud5.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/jud4.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/jud3.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/jud7.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/jud6.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/jud2.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
        <article>
            <img src="static/jud1.jpg" alt="">
            <h4>BLANK NAME</h4>
            <P>Judiciary</P>
        </article>
    </div>
    <br>
    <br>
</section>
{% endblock %}