<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikorodu</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/welcome.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/styless.css')}}">
</head>
<body>
  <header>
    <img src="static/image/logoo.png" alt="">
    
  </header>
  <section id="hero">
    <div class="hero container">
      <div>
        <br>
        <h2>Welcome to <span></span></h2>
        <h1>Ikorodu<span></span></h1>
        <p style="font-family: Verdana, Geneva, Tahoma, sans-serif;">Ikorodu Local Government is an indigenous local government with accommodating and amazing people. The division is arguably one of the fastest growing division in Lagos state. It is blessed with great sons and daughters that are trail blazers in several facets of Life. It is rich in culture and historical heritage</p>
        <br>
        <p style="color: white;"><u style="color: gold;">Vision</u>: Evolution of a viral, viable and model local government committed to efficient and effective service delivery.</p>
        <p style="color: white;"><u style="color: gold;">Mission</u>: To provide prompt services, infrastructure and amenities, that will improve the living standard of the people of Ikorodu local government through a highly motivated work force.</p>
        <br>
        <a href="/home" type="button" class="ctaa">Take a tour</a>
      </div>
    </div>
  </section>
  <style>
    body{
      background-image: url('static/image/bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>
  
</body>
</html>